/* .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link {
    color: var(--paper-border);
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
}

.skills-header h1 {
    font-family: var(--header-font);
    font-weight: 500;
    text-align: center;
    margin: 1rem 0;
}

.skills-header h3 {
    font-family: var(--header-font);
    font-weight: 400;
    text-align: center;
}

.skills-header h5 {
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
}

.skills-techstack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -2rem;
}

.skills-techstack div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

@media screen and (max-width: 1050px) {
    .skills-techstack {
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .skills-techstack {
        padding: 15px;
    }
}

@media screen and (max-width: 390px) {
    .skills-container {
        margin-bottom: 1rem;
    }
} */

.skills-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    min-height: 100vh;
}

.skills-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.skills-header h2, .skills-header span {
    font-size: 4rem;
    text-align: center;
}

.skills-header h3 {
    text-align: center;
}

.skills-techstack {
    width: 100%;
}

.skills-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 4rem;
    height: 500px;
}

.grid-item {
    font-size: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .skills-container {
        flex-direction: column;
    }

    .skills-header {
        width: 100%;
    }

    .grid-container {
        height: 350px;
    }

}

@media screen and (max-width: 425px) {
    .tech-container p {
        font-size: medium;
    }

    .grid-container {
        grid-column-gap: 10px;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .tech-container p {
        font-size: small;
    }

    .grid-container {
        grid-column-gap: 5px;
    }
}