.project-image img {
    border-radius: 5px;
}

.project-content {
    height: 250px;
    text-align: center;
}

.project-info h3 {
    margin-top: 1rem;
}

.project-info h5 {
    margin-top: 1rem;
    font-family: var(--text-font);
}

.project-info p {
    margin-top: 1rem;
}