.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
    margin: 5rem 0;
    min-height: 100vh;
}

.projects-header h2, .projects-header span {
    font-size: 4rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.projects-card {
    border: 1px solid var(--paper-border);
    border-radius: 5px;
    margin-top: 1rem;
    width: 30%;
    padding: 14px;
    margin: 10px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    padding: 2px 0;
}

.links button {
    width: 100%;
    cursor: pointer;
}

.links button:hover {
    scale: none;
}