.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}

.intro h1, .intro span {
    font-size: 5rem;
}

.intro h3 {
    text-align: center;
    font-size: 1.5rem;
}

.topline {
    width: 100%;
    text-align: center;
}

.topline p {
    margin-top: 2rem;
}

.topline button {
    margin: 2rem auto;
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 80px);
    left: 50%;
    width: 0;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
    color: var(--paper-border);
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 0;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }
  
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }


@media screen and (max-width: 1440px) {
    .intro-container {
        padding: 6rem 2rem 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .intro-container {
        padding: 0rem 2rem 2rem;
    }

    .down-arrow {
        top: calc(100vh - 60px);
    }
}

@media screen and (max-width: 768px) {
    .intro h1, .intro span {
        font-size: 4rem;
    }

    .intro-container {
        padding: 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 425px) {
    .intro h1, .intro span {
        font-size: 3rem;
        text-align: center;
    }

    .intro-container {
        padding: 0;
    }

    .intro h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .topline button {
        width: 80%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 393px) {
    .topline p {
        margin: 4rem 0;
    }

    .paper {
        margin: 2rem;
        padding: 3rem 1rem;
        box-shadow: 20px 20px var(--paper-border);
    }

    .intro-container {
        padding: 7rem 0 0;
    }
} 

@media screen and (max-width: 375px) {
    .intro-container {
        padding: 2rem 0 0;
    }

    .topline p {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 320px) {
    .topline p {
        margin: 1rem 0;
    }
}