* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  font-family: var(--text-font);
}

a {
  color: unset;
  text-decoration: none;
}

.paper {
  margin: 5rem;
  padding: 5rem 5rem 0 5rem;
  border: 1px solid var(--bg-color);
  box-shadow: 30px 30px var(--paper-border);
  background: #fff;
}

.hr {
  width: 1%;
  height: 14px;
  background: var(--paper-border);
  box-shadow: 0 2px 4px var(--paper-border);
  margin: 2rem auto;
  border-radius: 50%;
}

@media screen and (max-width: 1440px) {
  .hr {
    width: 1.4%;
  }
}

@media screen and (max-width: 1024px) {
  .hr {
    width: 2%;
  }
}

@media screen and (max-width: 768px) {
  .paper {
    margin: 3rem;
    padding: 3rem;
  }

  .hr {
    width: 2.3%;
  }
}

@media screen and (max-width: 390px) {
  .paper {
    margin: 2rem;
    padding: 2rem;
    box-shadow: 10px 10px var(--paper-border);
  }

  .hr {
    width: 5%;
    margin: 0rem auto 1rem;
  }
}