@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #C9A7EB;
  --paper-border: #9384D1;
  --pale-blue: #C0DEFF;
  --pale-pink: #FFE5F1;
  --pale-yellow: #FFF8E1;
  --link: #9DC08B;
  --header-font: 'Montserrat', sans-serif;
  --text-font: 'Zilla Slab', serif;
}

