.footer-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 2rem;
    height: 140px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-container h1 {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 1.2rem;
}

.footer-container h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.footer-container ul {
    list-style: none;
    display: flex;
    width: 8%;
    margin: auto;
    justify-content: space-around;
}

@media screen and (max-width: 1024px) {
    .footer-container ul {
        width: 16%;
    }
}

@media screen and (max-width: 768px) {
    .footer-container ul {
        width: 20%;
    }

    .footer-container {
        padding: 0;
    }

    .footer-container {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 390px) {
    .footer-container {
        padding: 0;
    }

    .footer-container ul {
        width: 30%;
    }
}